In [3]:
import pandas as pd

In [5]:
from pandas import Series,DataFrame

In [6]:
Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [8]:
Series((1,2,3))

0    1
1    2
2    3
dtype: int64

In [9]:
Series([1,2,3],index=['a','b','c'])

a    1
b    2
c    3
dtype: int64

In [10]:
d1={'a':1,'b':2,'c':3}

In [12]:
Series({'a':1,'b':2,'c':3})

a    1
b    2
c    3
dtype: int64

In [13]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [14]:
Series(d1).index

Index(['a', 'b', 'c'], dtype='object')

In [16]:
s1=Series(d1)

In [17]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [18]:
s1.index=[0,1,2]

In [19]:
s1

0    1
1    2
2    3
dtype: int64

In [20]:
s1.index.name='Index'

In [22]:
s1.name='Series1'

#

In [23]:
s1

Index
0    1
1    2
2    3
Name: Series1, dtype: int64

#

In [24]:
s1=Series({'a':1,'b':2,'c':3})

In [25]:
s1

a    1
b    2
c    3
dtype: int64

In [26]:
s1['a']

1

In [27]:
s1[0]

1

In [28]:
s1[0:2]

a    1
b    2
dtype: int64

In [29]:
s1.values

array([1, 2, 3], dtype=int64)

In [31]:
type(s1.values)

numpy.ndarray

#

In [32]:
s1.to_string()

'a    1\nb    2\nc    3'

In [33]:
s1

a    1
b    2
c    3
dtype: int64

In [34]:
d2={'prev':[-3,-2,-1],'now':[0,0,0],'next':[1,2,3]}

In [35]:
df=DataFrame(d2)

In [36]:
df

   next  now  prev
0     1    0    -3
1     2    0    -2
2     3    0    -1

In [37]:
df.colums

AttributeError: 'DataFrame' object has no attribute 'colums'

In [38]:
df.columns

Index(['next', 'now', 'prev'], dtype='object')

In [41]:
df.columns=['prev','now','next']

In [42]:
df

   prev  now  next
0     1    0    -3
1     2    0    -2
2     3    0    -1

In [43]:
df.columns.name='Time'

In [44]:
df

Time  prev  now  next
0        1    0    -3
1        2    0    -2
2        3    0    -1

In [45]:
df.prev

0    1
1    2
2    3
Name: prev, dtype: int64

In [46]:
df.now

0    0
1    0
2    0
Name: now, dtype: int64

In [47]:
df['prev']

0    1
1    2
2    3
Name: prev, dtype: int64

In [48]:
df[['prev','now']]

Time  prev  now
0        1    0
1        2    0
2        3    0

In [49]:
df.columns[:2]

Index(['prev', 'now'], dtype='object', name='Time')

In [50]:
df[df.columns[:2]]

Time  prev  now
0        1    0
1        2    0
2        3    0

In [51]:
df.index=['a','b','c']

In [54]:
df.index.name='Index'

In [55]:
df

Time   prev  now  next
Index
a         1    0    -3
b         2    0    -2
c         3    0    -1

In [56]:
df.columns.name

'Time'

In [58]:
df.ix[0]

Time
prev    1
now     0
next   -3
Name: a, dtype: int64

In [59]:
df.ix['a']

Time
prev    1
now     0
next   -3
Name: a, dtype: int64

In [61]:
df.prev

Index
a    1
b    2
c    3
Name: prev, dtype: int64

In [68]:
df['prev']

Index
a    1
b    2
c    3
Name: prev, dtype: int64

In [71]:
df.ix[0:2]

Time   prev  now  next
Index
a         1    0    -3
b         2    0    -2

In [72]:
df.ix[['a','b']]

Time   prev  now  next
Index
a         1    0    -3
b         2    0    -2

In [73]:
df.values

array([[ 1,  0, -3],
       [ 2,  0, -2],
       [ 3,  0, -1]], dtype=int64)

In [74]:
type(df.values)

numpy.ndarray

In [75]:
df.to_json()

'{"prev":{"a":1,"b":2,"c":3},"now":{"a":0,"b":0,"c":0},"next":{"a":-3,"b":-2,"c":-1}}'

In [76]:
df.to_dict()

{'next': {'a': -3, 'b': -2, 'c': -1},
 'now': {'a': 0, 'b': 0, 'c': 0},
 'prev': {'a': 1, 'b': 2, 'c': 3}}

In [77]:
df.to_latex()

'\\begin{tabular}{lrrr}\n\\toprule\nTime &  prev &  now &  next \\\\\nIndex &       &      &       \\\\\n\\midrule\na     &     1 &    0 &    -3 \\\\\nb     &     2 &    0 &    -2 \\\\\nc     &     3 &    0 &    -1 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [78]:
df.loc['a':'c','prev']

Index
a    1
b    2
c    3
Name: prev, dtype: int64

In [79]:
df.iloc[0:3,0]

Index
a    1
b    2
c    3
Name: prev, dtype: int64

In [83]:
df.ix[0:3,0]

Index
a    1
b    2
c    3
Name: prev, dtype: int64

In [85]:
df.ix[0:2,'prev']

Index
a    1
b    2
Name: prev, dtype: int64

In [86]:
df.get_value('a','prev')

1

In [87]:
df.ix['a','prev']#使用ix足以检索DataFrame的数据

1

In [88]:
df.at['a','prev']

1

In [89]:
df.iat[0,0]

1

In [92]:
df[df['prev']>=2]

Time   prev  now  next
Index
b         2    0    -2
c         3    0    -1

In [93]:
df['prev']>=2

Index
a    False
b     True
c     True
Name: prev, dtype: bool

In [95]:
df[(df['prev']>=2)&(df['next']>=-1)]

Time   prev  now  next
Index
c         3    0    -1

#啊上面的查询 再加入新的条件的话 代码的可读性就很不好了，这时候一般用query来查

In [96]:
df.query('(prev>=2 and next>=-1)')

Time   prev  now  next
Index
c         3    0    -1

In [102]:
df.query('(prev>=2 and next>=-1) or prev==1')

Time   prev  now  next
Index
a         1    0    -3
c         3    0    -1

In [103]:
g_value=3

 有时候条件过滤的值是之前程序得到的变量，那么我们可以在变量前加 @ 来调用值，再加入query的表达式，如下：

In [105]:
df.query('(prev>=@g_value and next>=-2) or prev==1')

Time   prev  now  next
Index
a         1    0    -3
c         3    0    -1

#DataFrame的数据也是分轴的，一般默认为0，为纵轴，1为横轴：

In [106]:
df.sum()

Time
prev    6
now     0
next   -6
dtype: int64

In [107]:
df.sum(axis=0)

Time
prev    6
now     0
next   -6
dtype: int64

In [108]:
df.sum(axis=1)

Index
a   -2
b    0
c    2
dtype: int64

In [109]:
df1=DataFrame({'col1':['a','a','b'],'col2':['b','b','a']})

In [110]:
df1

  col1 col2
0    a    b
1    a    b
2    b    a

In [111]:
df1.index.name='index'

In [112]:
df1.columns.name='col'

In [113]:
df1

col   col1 col2
index
0        a    b
1        a    b
2        b    a

In [114]:
df1.describe()

col    col1 col2
count     3    3
unique    2    2
top       a    b
freq      2    2

In [115]:
df.describe()

Time   prev  now  next
count   3.0  3.0   3.0
mean    2.0  0.0  -2.0
std     1.0  0.0   1.0
min     1.0  0.0  -3.0
25%     1.5  0.0  -2.5
50%     2.0  0.0  -2.0
75%     2.5  0.0  -1.5
max     3.0  0.0  -1.0

#对于Series一般用map表示对其中每一个元素进行同样的操作（element-wise）

In [117]:
s1

a    1
b    2
c    3
dtype: int64

In [118]:
s1.name='Series1'

In [119]:
s1

a    1
b    2
c    3
Name: Series1, dtype: int64

In [128]:
def add_one(x):
    return x+1

In [129]:
s1.map(add_one)

a    2
b    3
c    4
Name: Series1, dtype: int64

In [130]:
def mul_two(x):
    return x*2

In [131]:
s1.map(mul_two)

a    2
b    4
c    6
Name: Series1, dtype: int64

对于Dataframe而言，有两种方法来应用自定义的函数。一个是apply，是基于对整行或整列的操作，类似内置的mean、sum等函数。例如

In [135]:
def rangex(x):
    return x.max()-x.min()

In [136]:
df.apply(rangex)

Time
prev    2
now     0
next    2
dtype: int64

In [137]:
df.apply(rangex,axis=1)

Index
a    4
b    4
c    4
dtype: int64

另一种applymap,用于对DataFrame的每个数据进行相同的操作相当于Series的map，例如：

In [138]:
df.applymap(add_one)

Time   prev  now  next
Index
a         2    1    -2
b         3    1    -1
c         4    1     0

In [139]:
s1# 之前定义了 s1=Series(d1)  d1={'': , ":, " ":}字典形式

a    1
b    2
c    3
Name: Series1, dtype: int64